# OSX
#
/contatos/.DS_Store
/series/.DS_Store

# Xcode
#
/contatos/build/
/contatos/*.pbxuser
/contatos/!default.pbxuser
/contatos/*.mode1v3
/contatos/!default.mode1v3
/contatos/*.mode2v3
/contatos/!default.mode2v3
/contatos/*.perspectivev3
/contatos/!default.perspectivev3
/contatos/xcuserdata
/contatos/*.xccheckout
/contatos/*.moved-aside
/contatos/DerivedData
/contatos/*.hmap
/contatos/*.ipa
/contatos/*.xcuserstate
/contatos/ios/.xcode.env.local

/series/build/
/series/*.pbxuser
/series/!default.pbxuser
/series/*.mode1v3
/series/!default.mode1v3
/series/*.mode2v3
/series/!default.mode2v3
/series/*.perspectivev3
/series/!default.perspectivev3
/series/xcuserdata
/series/*.xccheckout
/series/*.moved-aside
/series/DerivedData
/series/*.hmap
/series/*.ipa
/series/*.xcuserstate
/series/ios/.xcode.env.local

# Android/IntelliJ
#
/contatos/build/
/contatos/.idea
/contatos/.gradle
/contatos/local.properties
/contatos/*.iml
/contatos/*.hprof
/contatos/.cxx/
/contatos/*.keystore
/contatos/!debug.keystore

/series/build/
/series/.idea
/series/.gradle
/series/local.properties
/series/*.iml
/series/*.hprof
/series/.cxx/
/series/*.keystore
/series/!debug.keystore

# node.js
#
/contatos/node_modules/
/contatos/npm-debug.log
/contatos/yarn-error.log

/series/node_modules/
/series/npm-debug.log
/series/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
/contatos/*.jsbundle
/series/*.jsbundle

# Ruby / CocoaPods
/contatos/ios/Pods/
/contatos/vendor/bundle/

/series/ios/Pods/
/series/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

/contatos/android/.gradle
/contatos/android/app/src/debug
/contatos/android/app/src/main
/contatos/android/app/src/release

/series/android/.gradle
/series/android/app/src/debug
/series/android/app/src/main
/series/android/app/src/release
